<form method="POST" action="/chat/new">
  <h2>New message</h2>
  <label for="messageText">Message</label>
  <textarea
    id="messageText"
    name="messageText"
    placeholder="Message"
  ></textarea>
  <button type="submit">Send</button>
</form>
